@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h2 class="sc-danger">@ViewData["Title"]</h2>
    <p class="sc-danger">This account has been locked out, please try again later.</p>
</header>
