@model IEnumerable<DetailsReviewModel>

@{
    ViewData["Title"] = "Reviews - Spaceship Clicker";
}

<h2>Reviews</h2>
<ul class="sc-reviews">
    <li class="sc-review">
        <p>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
            <i class="fa fa-star" aria-hidden="true"></i>
        </p>
        <p>
            By krasi070
        </p>
        <p>
            Posted on 24/12/2017
        </p>
        <p>
            PC has been lacking a good anti-gravity racer. Redout just filled that niche and did it incredibly well. Awesome feeling of speed, great controls.
        </p>
    </li>
</ul>