@model IEnumerable<ReviewDefaultModel> 

@{
    ViewData["Title"] = "Spaceship Clicker";
    bool isFirstReview = true;
}

<div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
    <ol class="carousel-indicators">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <li data-target="#myCarousel" data-slide-to="@i" @(i == 0 ? "class=active" : string.Empty)></li>
        }
    </ol>
    <div class="carousel-inner" role="listbox">
        @foreach (ReviewDefaultModel review in Model)
        {
            <div class="item @(isFirstReview ? "active" : string.Empty)">
                <img src="~/images/transparent_banner.png" alt="ASP.NET" class="img-responsive" />
                <div class="carousel-caption" role="option">
                    <p>@review.Text</p>
                    <p>
                        @for (int i = 0; i < review.Score / 2; i++)
                        {
                            <i class="fa fa-star" aria-hidden="true"></i>
                        }

                        @if (review.Score % 2 == 1)
                        {
                            <i class="fa fa-star-half-o" aria-hidden="true"></i>
                        }

                        @for (int i = 0; i < (GlobalConstants.ReviewMaxScore - review.Score) / 2; i++)
                        {
                            <i class="fa fa-star-o" aria-hidden="true"></i>
                        }
                    </p>
                </div>
            </div>

            isFirstReview = false;
        }
    </div>
    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>