@font-face {
    font-family: 'ocraext';
    src: url('../fonts/ocraext.ttf') format('truetype');
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #ECF0F1;
    font-family: 'ocraext';
    font-weight: 500;
}

hr {
    border: 2px solid #ECF0F1;
}

.sc-navbar .navbar-header a.sc-brand {
    font-weight: 900;
    font-size: 24px;
}

.sc-link,
.sc-link:hover {
    color: #2980B9;
}

.sc-navbar {
    background-color: #2980B9;
    font-size: 16px;
    border-bottom: 2px solid #ECF0F1;
}

.sc-navbar .navbar-header a,
.sc-navbar .nav li a,
.sc-navbar .nav li button,
footer {
    color: #ECF0F1;
    font-size: 16px;
}

.sc-navbar li:hover {
    background-color: #ECF0F1;
    
}

.sc-navbar .nav li a:hover,
.sc-navbar .nav li button:hover {
    color: #2980B9;
    text-decoration: none;
}

.sc-input {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #2980B9;
    background-color: #ECF0F1;
    color: #2C3E50;
}

.sc-btn {
    color: #ECF0F1;
    background-color: #2980B9;
    border: none;
    border-bottom: 2px solid #ECF0F1;
    border-radius: 0;
}

.sc-btn:hover {
    color: #2980B9;
    background-color: #ECF0F1;
    border-bottom: 2px solid #2980B9;
}

.sc-danger {
    color: #E74C3C;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-caption {
    padding-bottom: 0;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption p {
    font-size: 19px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.carousel-control.left:hover,
.carousel-control.right:hover {
    background-color: rgba(236, 240, 241, 0.01);
}

#qrCode {
    margin: 15px;
}

.sc-logout-fix .navbar-btn {
    margin-bottom: 7px;
    margin-top: 7px;
}

.sc-reviews {
    list-style-type: none;
    padding-left: 0;
}

.sc-review {
    padding: 10px 10px 60px 10px;
}

li.sc-review:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.sc-review span {
    font-style: italic;
    display: inline-block;
}

.sc-review-stars {
    font-size: 2em;
}

.sc-review-text {
    margin-top: 10px;
    font-size: 1.4em;
}

.sc-review-filter {
    width: 22%;
    float: left;
}

.sc-admin-filters {
    width: 20%;
    float: left;
}

.sc-table-container {
    width: 75%;
    float: right;
}

.sc-review-list {
    width: 73%;
    float: right;
}

.sc-btn-apply {
    width: 100%;
    margin: 20px 0;
}

.sc-btn-review-form {
    width: 25%;
    margin-bottom: 25px;
    margin-top: 10px;
}

.sc-table > .sc-tbody > .sc-row:hover {
    background-color: rgba(236, 240, 241, 0.1);
}

.sc-label {
    font-size: 24px;
    font-weight: 300;
}

.sc-checkbox {
    width: 16px;
    height: 16px;
}

.sc-dropdown-menu {
    border-radius: 0;
    background-color: #3498DB;
    color: #ECF0F1;
}

.sc-review-states-form {
    margin-top: 85px;
}

.sc-btn-danger {
    color: #ECF0F1;
    background-color: #E74C3C;
    border: none;
    border-bottom: 2px solid #ECF0F1;
    border-radius: 0;
}

.sc-btn-danger:hover {
    color: #E74C3C;
    background-color: #ECF0F1;
    border-color: #E74C3C;
}

.sc-input.sc-input-danger {
    border-color: #E74C3C;
} 

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #ECF0F1;
    color: #3498DB;
}

.sc-list {
    list-style-type: none;
}

.sc-list > li {
    font-size: 20px;
    margin-bottom: 10px;
}

.sc-action-th {
    width: 130px;
}

/*Scrolling animation*/
.overlay {
    background: url('../images/spaceship_clicker_bg.png');
    -webkit-animation: 100s scroll infinite linear;
    -moz-animation: 100s scroll infinite linear;
    -o-animation: 100s scroll infinite linear;
    animation: 100s scroll infinite linear;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes scroll {
    100% {
        background-position: 0px -3000px;
    }
}

@-moz-keyframes scroll {
    100% {
        background-position: 0px -3000px;
    }
}

@-o-keyframes scroll {
    100% {
        background-position: 0px -3000px;
    }
}

@-ms-keyframes scroll {
    100% {
        background-position: 0px -3000px;
    }
}

@keyframes scroll {
    100% {
        background-position: 0px -3000px;
    }
}
/*End scrolling animation*/

/*Start game css*/
.sc-spaceship-container {
    text-align: center;
}

.sc-spaceship-img {
    display: block;
    width: 345px;
    height: 460px;
    margin: 19px auto;
}

.sc-spaceship-img:hover {
    cursor: pointer;
}

.sc-spaceship-img:active {
    width: 300px;
    height: 400px;
    margin: 49px auto;
}

.sc-crewmate-ul {
    padding: 0;
    list-style-type: none;
}

.sc-game > div.col-md-5 {
    padding: 0;
}

.sc-crewmate-ul > .sc-crewmate {
    width: 100%;
    height: 90px;
    margin: 15px 0;
    background-color: #3498DB;
    border-bottom: solid 4px #ECF0F1;
}

.sc-crewmate > img {
    width: 70px;
    height: 70px;
    margin: 10px;
    position: relative;
    top: -23px;
}

.sc-crewmate-locked {
    font-size: 40px;
    padding: 15px 150px;
}

.sc-crewmate-info {
    display: inline-block;
    line-height: 16px;
    width: 70%;
    margin-top: 10px;
    font-weight: 600;
}

.sc-upgrades-ul {
    list-style-type: none;
    padding: 0;
    margin-top: 20px;
}

.sc-upgrade {
    font-size: 40px;
    margin-right: 37px;
    display: inline-block;
    width: 84px;
    height: 80px;
    background-color: #3498DB;
    border-bottom: solid 4px #ECF0F1;
    text-align: center;
}

.sc-upgrade > span,
.sc-upgrade-bought > span {
    display: block;
    margin-top: 10px;
}

.sc-upgrade-bought {
    font-size: 40px;
    margin-right: 37px;
    display: inline-block;
    width: 84px;
    height: 80px;
    background-color: #ECF0F1;
    border-bottom: solid 4px #E74C3C;
    color: #E74C3C;
    text-align: center;
}

.sc-upgrade[unlocked="unlocked"]:hover,
.sc-crewmate[unlocked="unlocked"]:hover {
    cursor: pointer;
    background-color: #ECF0F1;
    border-color: #3498DB;
    color: #3498DB;
}

.sc-upgrades-ul > li:last-child.sc-upgrade {
    margin-right: 0;
}

.sc-game-btns {
    list-style-type: none;
    padding: 0;
}

.sc-game-btns > li {
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    display: inline-block;
    width: 140px;
    height: 60px;
    background-color: #3498DB;
    color: #ECF0F1;
    border-bottom: solid 4px #ECF0F1;
}

.sc-game-btns > li > span {
    display: block;
    margin-top: 17px;
}

.sc-game-btns > li:hover {
    cursor: pointer;
    background-color: #ECF0F1;
    color: #3498DB;
    border-bottom: solid 4px #3498DB;
}

.sc-game-btns > .sc-tab {
    margin-right: 19px;
}

.sc-notifications {
    width: 100%;
    font-size: 16px;
    resize: none;
    margin-bottom: 10px;
    color: #2C3E50;
    border-bottom: solid 4px #3498DB;
}

.sc-messages {
    width: 100%;
    font-size: 16px;
    resize: none;
    margin-bottom: 10px;
    color: #E74C3C;
    border-bottom: solid 4px #3498DB;
}

.sc-notifications-label {
    font-size: 24px;
    margin: 20px 0 16px 0;
}
/*End game css*/

.sc-footer {
    position: relative;
    height: 50px;
    clear: both;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}