@font-face {
    font-family: 'ocraext';
    src: url('../fonts/ocraext.ttf') format('truetype');
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
    color: #ECF0F1;
    font-family: 'ocraext';
    font-weight: 500;
}

hr {
    border: 2px solid #ECF0F1;
}

.sc-navbar .navbar-header a.sc-brand {
    font-weight: 900;
    font-size: 24px;
}

.sc-link,
.sc-link:hover {
    color: #2980B9;
}

.sc-navbar {
    background-color: #2980B9;
    font-size: 16px;
    border-bottom: 2px solid #ECF0F1;
}

.sc-navbar .navbar-header a,
.sc-navbar .nav li a,
.sc-navbar .nav li button,
footer {
    color: #ECF0F1;
    font-size: 16px;
}

.sc-navbar li:hover {
    background-color: #ECF0F1;
    
}

.sc-navbar .nav li a:hover,
.sc-navbar .nav li button:hover {
    color: #2980B9;
    text-decoration: none;
}

.sc-input {
    border-radius: 0;
    border: none;
    border-bottom: 2px solid #2980B9;
    background-color: #ECF0F1;
    color: #2C3E50;
}

.sc-btn {
    color: #ECF0F1;
    background-color: #2980B9;
    border: none;
    border-bottom: 2px solid #ECF0F1;
    border-radius: 0;
}

.sc-btn:hover {
    color: #2980B9;
    background-color: #ECF0F1;
    border-bottom: 2px solid #2980B9;
}

.sc-danger {
    color: #E74C3C;
}

.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.carousel-caption {
    padding-bottom: 0;
    top: 50%;
    transform: translateY(-50%);
}

.carousel-caption p {
    font-size: 20px;
    line-height: 1.4;
}

.carousel-inner .item img[src$=".svg"] {
    width: 100%;
}

.carousel-control.left,
.carousel-control.right {
    background-image: none;
}

.carousel-control.left:hover,
.carousel-control.right:hover {
    background-color: rgba(236, 240, 241, 0.01);
}

#qrCode {
    margin: 15px;
}

.sc-logout-fix .navbar-btn {
    margin-bottom: 7px;
    margin-top: 7px;
}

.sc-reviews {
    list-style-type: none;
    padding-left: 0;
}

.sc-review {
    padding: 10px 10px 60px 10px;
}

li.sc-review:hover {
    background-color: rgba(255, 255, 255, 0.05);
}

.sc-review span {
    font-style: italic;
    display: inline-block;
}

.sc-review-stars {
    font-size: 2em;
}

.sc-review-text {
    margin-top: 10px;
    font-size: 1.4em;
}

.sc-review-filter {
    width: 22%;
    float: left;
}

.sc-admin-filters {
    width: 20%;
    float: left;
}

.sc-review-table {
    width: 75%;
    float: right;
}

.sc-review-list {
    width: 73%;
    float: right;
}

.sc-btn-apply {
    width: 100%;
    margin: 20px 0;
}

.sc-button-post {
    width: 25%;
    margin-bottom: 25px;
    margin-top: 10px;
}

.sc-table > .sc-tbody > .sc-row:hover {
    background-color: rgba(236, 240, 241, 0.1);
}

.sc-label {
    font-size: 24px;
    font-weight: 300;
}

.sc-checkbox {
    width: 16px;
    height: 16px;
}

.sc-dropdown-menu {
    border-radius: 0;
    background-color: #3498DB;
    color: #ECF0F1;
}

.sc-review-states-form {
    margin-top: 85px;
}

.navbar-inverse .navbar-nav > .open > a,
.navbar-inverse .navbar-nav > .open > a:hover,
.navbar-inverse .navbar-nav > .open > a:focus {
    background-color: #ECF0F1;
    color: #3498DB;
}

/*Scrolling animation*/
.overlay {
    background: url('../images/spaceship_clicker_bg.png');
    -webkit-animation: 100s scroll infinite linear;
    -moz-animation: 100s scroll infinite linear;
    -o-animation: 100s scroll infinite linear;
    animation: 100s scroll infinite linear;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@-webkit-keyframes scroll {
    100% {
        background-position: 0px -3000px;
    }
}

@-moz-keyframes scroll {
    100% {
        background-position: 0px -3000px;
    }
}

@-o-keyframes scroll {
    100% {
        background-position: 0px -3000px;
    }
}

@-ms-keyframes scroll {
    100% {
        background-position: 0px -3000px;
    }
}

@keyframes scroll {
    100% {
        background-position: 0px -3000px;
    }
}
/*End scrolling animation*/

.sc-footer {
    position: relative;
    height: 50px;
    clear: both;
}

@media screen and (max-width: 767px) {
    .carousel-caption {
        display: none;
    }
}